// Included for QSpy guys
teamplay 0?Hipnotic

// load the base configuration
exec default.cfg

// load the last saved configuration
exec config.cfg

// run a user script file if present
exec autoexec.cfg
// Ry: also run a separate user script for armagon specifically
exec hipnotic.cfg

//
// stuff command line statements
//
stuffcmds

// opt into unicode font rendering
scr_usekfont 1

// start demos if not allready running a server
startdemos hipdemo1 hipdemo2 hipdemo3 hipdemo4

alias quickswitch_up "switchweapon 0 1"
alias quickswitch_right "switchweapon 2 3"
alias quickswitch_down "switchweapon 4 9 5"
alias quickswitch_left "switchweapon 6 7 8 10"